@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Overpass', Arial, Helvetica, sans-serif;
}

main p {
    font-size: 15px;
    font-weight: 100;
    line-height: 19px;
    letter-spacing: 1px;
    color: hsl(216, 12%, 54%);
    padding-bottom: 40px;
}

h1 {
    color: white;
    font-weight: 500;
    font-size: 28px;
    padding-top: 30px;
    padding-bottom: 20px;
}

button {
    margin-left: 20px;
    width: 320px;
    height: 45px;
    padding-top: 5px;
    border-radius: 30px;
    border: none;
    background-color: hsl(25, 97%, 53%);
    color: white;
    font-size: 15px;
    cursor: pointer;
}

button:hover {
    background-color: white;
    color: hsl(25, 97%, 53%);
    transition: background-color, color, .3s;
}

button:not(:hover) {
    transition: background-color, color, .3s;
}

ul {
    list-style-type: none;
    display: flex;
    padding-bottom: 40px;
}

li {
    background-color: hsl(218, 13%, 17%);
    width: 50px;
    height: 50px;
    margin-left: 18px;
    border-radius: 50%;
    color: hsl(216, 12%, 54%);
    font-size: 18px;
    padding-top: 15px;
    text-align: center;
    cursor: pointer;
}

li:hover {
    background-color: hsl(219, 11%, 31%);
    color: white;
    transition: background-color, color, .3s;
}

li:not(:hover) {
    transition: background-color, color, .3s;
}

body {
    background-color: hsl(216, 12%, 8%);
}

main div {
    background-color: hsl(218, 12%, 17%);
    width: 40px;
    height: 40px;
    padding: 10px;
    text-align: center;
    border-radius: 50%;
}

main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #1B222C;
    width: 420px;
    height: 420px;
    border-radius: 30px;
    padding: 30px;
    display: block;
}
/*rate page end*/







/*thank you page start*/
section {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #1B222C;
    width: 420px;
    height: 420px;
    border-radius: 30px;
    padding: 30px;
    display: none;
}

div#thank-you-image {
    padding-left: 90px;
    padding-bottom: 30px;
}

div#selection {
    text-align: center;
    background-color: hsl(218, 12%, 17%);
    color: #fb7413;
    width: 200px;
    height: 40px;
    padding-top: 11px;
    margin-left: 80px;
    border-radius: 30px;
}

section h1 {
    text-align: center;
    padding-bottom: 20px;
}

section p {
    text-align: center;
    color: hsl(216, 12%, 54%);
}