@charset "utf-8";

@media screen  and (min-width: 375px) and (max-width: 768px){
    main#anuncio {
        display: block;
        height: 690px;
        margin-top: 30px;

    }

    section#principal {
        height: 700px;
        width: 287px;
    }


    img {
        display: none;
    }

    section#imagem {
        background-image: url('imagens/image-product-mobile.jpg');
        background-repeat: no-repeat;
        background-size: contain;
        background-attachment: scroll;
        height:200px;
    }

    footer#creditos {
        position: relative;
        padding-top: 820px;
        padding-left: 20px;
        padding-right: 20px;
    }

    p#explicacao {
        padding-right: 30px;
    }

}