@charset "utf8";

@media screen and (min-width: 375px) and (max-width: 1440px) {
    main {
        height: 750px;
        width: 350px;
        position: relative;
        margin-top: 450px;
    }

    main section#imagem {
        background-image: url('./imagens/image-header-desktop.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        height: 10px;
        width: 350px;
        display: block;
    }

    div#texto-principal {}

    div#texto-principal h1 {
        padding-left: 1000px;
    }


    img {
        display: none;
    }

    section#principal {
        display: block;
        height: 750px;
        width: 350px;
    }
}