@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: hsl(233, 47%, 7%);
}

main {
    background-color: hsl(244, 38%, 16%);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1420px;
    height: 550px;
    border-radius: 10px;
    display: flex;
}

section#principal {
    width: 725px;
}

div#primeiro-texto {
    text-align: center;
    padding: 20px;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
}

div#primeiro-texto h1 {
    color: white;
    font-size: 40px;
    padding-left: 20px;
    padding-right: 150px;
    padding-top: 50px;
}

div#primeiro-texto p {
    font-size: 15px;
    color: hsla(0, 0%, 100%, 0.75);
    line-height: 25px;
    padding-left: 40px;
    padding-right: 150px;
    padding-top: 30px;
}

strong {
    color: hsl(277, 64%, 61%);
}

section#imagem01 {
    display: none;
}

ul {
    list-style-type: none;
    font-family: 'Lexend Deca', Arial, Helvetica, sans-serif;
    padding-top: 60px;
    text-align: center;
}

li {
    display: flex;
    padding-left: 100px;
}

li h1 {
    color: white;
    font-size: 30px;
}

li p {
    display: flex;
    color: hsla(0, 0%, 100%, 0.6);
}

section#imagem02 {
    background-image: url('./imagens/image-header-desktop.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    height: 550px;
    width: 725px;
    border-radius: 0px 10px 10px 0px;
}

footer#creditos {
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    left: 0;
}


footer#creditos p {
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
}


footer#creditos a {
    color: white;
    font-weight: 900;
    font-size: 17px;
    text-decoration: none;
}

footer#creditos a:hover {
    text-decoration: underline;
}