@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: hsl(217, 54%, 11%);
}

main {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 380px;
    height: 620px;
    border-radius: 15px;
    background-color: hsl(216, 50%, 16%);
    box-shadow: 0px 0px 50px 2px ;
    position: absolute;
    font-family: 'Outfit', sans-serif;
}

section.imagem {
    width: 330px;
    height: 320px;
    padding-left: 25px;
    padding-right: 10px;
    padding-top: 25px;
}


section.imagem img {
    width: 330px;
    height: 320px;
    border-radius: 10px;
}

section.principal {
    padding-top: 45px;
    padding-left: 25px;
}

.bloco01 {
    border-bottom: 1px solid hsl(215, 32%, 27%);
    margin-left: 0px;
    margin-right: 20px;
    padding-bottom: 30px;
    margin-bottom: 20px;
}

.bloco01 p {
    padding-top: 20px;
    padding-right: 18px;
    font-size: 18px;
    color: hsl(215, 51%, 70%);
}
a {
    color: white;
    text-decoration: none;
}


a:hover {
    color: hsl(178, 100%, 50%);
}

ul {
    list-style-type: none;
    padding-top: 25px;
    display: flex;
}

li#li01{
    color:hsl(178, 100%, 50%);
    font-size: 18px;
}

li#li02 {
    padding-left: 125px;
    font-size: 18px;
    color:hsl(215, 51%, 70%);
}

span {
    padding-right: 2px;
}

.bloco02 {
    display: flex;

}

.bloco02 p {
    font-size: 18px;
    color: hsl(215, 51%, 70%);
    padding-left: 15px;
    padding-top: 5px;
}

.bloco02 img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 1px solid white;
}

footer#creditos {
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    left: 0;
}


footer#creditos p {
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    padding-bottom: 10px;
}


footer#creditos a {
    color: white;
    font-weight: 900;
    font-size: 18px;
    text-decoration: none;
}

footer#creditos a:hover {
    text-decoration: underline;
}

@media screen and (min-width: 375px) and (max-width: 768px) {
    
    footer#creditos {
        position: relative;
        margin-top: 150vh;
    }

}